/* footer */
html {
  position: relative;
  min-height: 100%
}

body {
/*Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  border-top: 9px solid #222222;
  bottom: 0;
  width: 100%;
  /* Set teh fixed height of the footer here */
  height: 60px;
}